{{template "bdetail_header" .}}
{{template "navbar" .}}
<div class="container">
    <div class="table-responsive">
    <table class="table">
        <caption>板信息</caption>
        <thead>
        <tr>
            <th>服务名</th>
            <th>板名</th>
            <th>板类型</th>
            <th>框--槽--CPU</th>
            <th>版本</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{.Name}}</td>
            <td>{{.BoardName}}</td>
            <td>{{.Type}}</td>
            <td>{{.Chassis}}--{{.Slot}}--{{.Cpu}}</td>
            <td>{{.Image}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="table-responsive">
        <table class="table" id="iftable">
            <caption>接口信息</caption>
            <thead>
            <tr>
                <th>接口类型</th>
                <th>接口名</th>
                <th>对端板名</th>
                <th>对端接口</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .IfList}}
            <tr>
                <td>{{.IfType}}</td>
                <td>{{.IfName}}</td>
                {{with .PeerBoardName}}
                <td>{{.PeerBoardName}}</td>
                <td>{{.PeerIfName}}</td>
                <td><a href="/network/disconnect/{{.BoardName}}">断开连接</a></td>
                {{else}}
                <td></td>
                <td></td>
                    <td><button type="button" class="btn btn-default" onclick="connect('{{.IfType}}', '{{.IfName}}');">组网连线</button></td>
                {{end}}
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div> <!--/.div container -->
    {{template "footer" .}}
