{{template "header" .}}
{{template "navbar" .}}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <caption>所有的板子</caption>
            <thead>
            <tr>
                <th>板名</th>
                <th>运行状态</th>
                <th>运行节点</th>
                <th>串口</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .ShowBoards}}
            <tr>
                <td>{{.BoardName}}</td>
                <td>{{.Status}}</td>
                <td>{{.RunNode}}</td>
                <td><a href="https://172.28.14.35:4200">连接串口</a></td>
                <td><a href="/board/delete/{{.BoardName}}">删除</a></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div> <!--/.div container -->
{{template "footer" .}}
