{{template "header" .}}
{{template "navbar" .}}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <caption>设备连接信息</caption>
            <thead>
            <tr>
                <th>本端设备</th>
                <th>本端端口</th>
                <th>对端设备</th>
                <th>对端端口</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .ShowConnections}}
            <tr>
                <td>{{.LocalDevName}}</td>
                <td>{{.LocalPort}}</td>
                <td>{{.PeerDevName}}</td>
                <td>{{.PeerPort}}</td>
                <td><a href="/network/device/disconnect/{{.LocalDevName}}/{{.LocalPort}}">断开连接</a></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{template "footer" .}}
