{{template "header" .}}
{{template "navbar" .}}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <caption>所有的板子</caption>
            <thead>
            <tr>
                <th>工程名</th>
                <th>板类型</th>
                <th>框--槽--CPU</th>
                <th>镜像版本</th>
                <th>组网连线</th>
                <th>串口</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Type}}</td>
                <td>{{.Chassis}}--{{.Slot}}--{{.Cpu}}</td>
                <td>{{.Image}}</td>
                <td><a href="/list/board/details/{{.BoardName}}">详细信息</a></td>
                <td><a href="https://172.28.14.35:4200">连接串口</a></td>
                <td><a href="/board/delete/{{.BoardName}}">删除</a></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div> <!--/.div container -->
{{template "footer" .}}
